<!DOCTYPE html>
<html>
<head>
	<title>Perpustakaan</title>
	<link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.css">
</head>
<body>

<!-- NAVIGASI -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
	<ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link" href="">Home</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="">Buku</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="">Kategori</a>
		</li>
	</ul>
</nav>
<!-- END NAVIGASI; -->

<div class="container" style="margin-top:30px;">

	<h3>Tambah Data Buku</h3>

	<form class="form" method="" action="" enctype="">
		<div class="row">
			<div class="col-sm-4 pr-5">

				<!-- KODE BUKU -->
				<h6 class="mt-4">Kode Buku :</h6>
				<input type="text" class="form-control" name="">

				<!-- JUDUL BUKU -->
				<h6 class="mt-4">Judul Buku :</h6>
				<input type="text" class="form-control" name="">

				<!-- PENERBIT BUKU -->
				<h6 class="mt-4">Penerbit Buku :</h6>
				<select class="form-control" name="">
					<option>Pilih Penerbit</option>
					<option>Pastel Books (Mizan)</option>
					<option>Gramedia</option>
					<option>Erlangga</option>
					<option>Elex Media Komputindo</option>
				</select>

				<!-- STOK BUKU -->
				<h6 class="mt-4">Stok Buku :</h6>
				<input type="number" class="form-control" name="">

			</div>

			<div class="col-sm-4 pl-5">

				<!-- JENIS BUKU -->
				<h6 class="mt-4">Jenis Buku :</h6>
				<input type="radio" class="form-check-input" name="" value="">Religi
				<br><input type="radio" class="form-check-input" name="" value="">Pendidikan
				<br><input type="radio" class="form-check-input" name="" value="">Novel
				<br><input type="radio" class="form-check-input" name="" value="">Komik
				<br><input type="radio" class="form-check-input" name="" value="">Cerpen

				<!-- GENRE BUKU -->
				<h6 class="mt-4">Genre Buku :</h6>
				<input type="checkbox" class="form-check-input" name="" value="">Ilmu Pengetahuan
				<br><input type="checkbox" class="form-check-input" name="" value="">Romantis
				<br><input type="checkbox" class="form-check-input" name="" value="">Komedi
				<br><input type="checkbox" class="form-check-input" name="" value="">Horor
				<br><input type="checkbox" class="form-check-input" name="" value="">Action
			</div>

			<div class="col-sm-4">

				<!-- GAMBAR BUKU -->
				<h6 class="mt-4">Gambar Buku :</h6>
				<input type="file" name="">

				<!-- SINOPSIS BUKU -->
				<h6 class="mt-4">Sinopsis Buku :</h6>
				<textarea class="form-control" name=""></textarea>
					
			</div>

			<!-- SUBMIT -->
			<button type="submit" class="btn btn-primary mt-4" name="simpan">Tambah Baru</button>

		</div>
	</form>
</div>

</body>
</html>